$c-primary: #8B9569;
$c-secondary: #D6CEBC;
$c-green: #7C9C28;
$c-blue: #3699D0;
$c-yellow: #F1B56B;
$c-red: #D67569;
$c-success: $c-green;
$c-info: $c-blue;
$c-warning: $c-yellow;
$c-danger: $c-red;
$c-background: #101317;
$c-headline-color: #F8FBEA;
$c-text: #A9AD9B;
$c-black: #000;
$c-white: #fff;